<div class="wrapper-container">
  <!-- Internal Table -->
  <app-data-table 
    [columns]="columns" 
    [data]="data"
    [isLoading]="isLoading"
    [error]="error"
    (dataChanged)="onDataChanged($event)"
    (rowDeleted)="onRowDeleted($event)"
    (retry)="fetchData()">
  </app-data-table>

  <!-- Internal Template Definition -->
  <ng-template #internalTemplate let-value let-row="row" let-column="column">
    <div class="custom-cell">
      <span>{{ value }}</span>
    </div>
  </ng-template>
</div>
